* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav {
  background-color: black;
  text-align: center;
}
nav ul {
  display: inline-flex;
  list-style: none;
}
nav ul li {
  width: 250px;
  margin: 15px auto 15px auto;
  padding: 15px;
}

nav ul li a {
  font-size: 20px;
  color: white;
  text-decoration: none;
}
